@import 'tailwindcss';

@theme inline {
    --color-light-gray: var(--color-gray-300);
    --color-gray: var(--color-gray-400);
    --color-dark-gray: var(--color-gray-500);
    --color-blue: var(--color-blue-700);
    --color-light-blue: var(--color-blue-400);
    --color-green: var(--color-green-600);
    --color-red: var(--color-red-600);
    --color-orange: var(--color-amber-400);
}

@utility bg-color {
    @apply bg-white dark:bg-gray-900;
}
@utility text-color-blue {
    @apply text-blue dark:text-light-blue;
}
@utility text-color-gray {
    @apply text-dark-gray dark:text-light-gray;
}
@utility border-color {
    @apply border-light-gray dark:border-dark-gray;
}
@utility wrap-long-text {
    @apply whitespace-nowrap overflow-hidden text-ellipsis;
}

@layer base {
    a {
        @apply bg-color text-color-blue;
    }
    button {
        @apply text-base text-left bg-none border-none m-0 p-0;
    }
    button:hover {
        @apply text-color-blue;
    }
    input[type='file'] {
        @apply border-none;
    }
    label {
        -webkit-user-select: none;
        user-select: none;
    }
    input {
        @apply h-10;
    }
    input::file-selector-button:hover {
        @apply text-color-blue;
    }
    select {
        appearance: none;
    }
    select,
    input {
        @apply bg-color p-1.5 text-base box-border;
    }
    select,
    input,
    input::file-selector-button {
        @apply border-b border-solid border-color;
    }
    svg.tabler-icon {
        width: 1em;
        height: 1em;
    }
}

@layer components {
    .line {
        @apply border-l;
    }
    .line-h {
        @apply border-b;
    }
    .line,
    .line-h {
        @apply border-solid border-color ml-1.5 mr-1.5;
    }
}
